/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald&display=swap');

/* Style the header */
header  {
    width: 100%;
    height: 100px;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;    
}

#banner {
    font-family: Lato, sans-serif;
    color: rgba(0,0,0,1);  /* black text */ 
    width:50%;
}
#banner h1 {
    font-size: 2ev;         /* header stand out */
}

#Page-nav {
    width: 50%;
}

/* Style the nav options - to the right of the banner on same level */
#header-nav li {
         /* nav options to the right */
    margin-right: 40px;  /* space between options */
    font-family:Lato, sans-serif;  /* consistent with banner */
    list-style-type: none;         /* remove default bullet points */
    display: inline;
       }

#header-nav li a {
    color:black;
    font-size: 1.2em;
    text-decoration: none;          /* remove default underline */
}

/* Highlight menu selection */
#header-nav li a:hover {
    background-color: black;
    color: white;
}

/* underline - highligh activie page */
.active-page{
    border-bottom: 1px solid rgba(0,0,0,1);
}

/*style main image landing page */
#park-view img{
    height: 500px;
    width: 100%;
    text-align: center;
}

/* style links on index.html */
#main-links a {
    width: 100%;
    color:black;
    font-size: 120%;
    text-decoration: none;  
    font-family:Lato, sans-serif; 
    margin-left: 40px;
    }

#main-links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;           
}

section h2 {
    font-family:Lato, sans-serif; 
}

#main-links a:hover {
    color: white;
    background-color: black;
}

.site-info{
    font-family:Lato, sans-serif; 
    display: flex;
    
}

.site-info-card {
    border: 1px solid darkgray;
    padding: 10px;
    margin-right: 10px
}

.site-info-card h2{
    text-align: center;
}

/*position the amenity rate and code column, researched stack overflow site */

#left-div-index {
  display: inline-block;
  height: 100%;
  width: 30%;  /* using 33% pushed evrything down */ 
  color: blue;
  vertical-align: top;
  }

  #left-div-index h2 {
    text-align: center;
    padding-top: 10px;
  }
#right-div-index {
  display: inline-block;
  height: 100%;
  width: 33%;
  vertical-align: top;
  color:blue;
  }

#right-div-index h2 {
    text-align: center;
    padding-top: 10px;   
    
  }

#center-div {
  display: inline-block;
  height: 100%;
  width: 33%;    
  vertical-align: top;
  font-family:Lato, sans-serif; 
   
}
#center-div h2 {
    text-align: center;  
    padding-top: 10px;
}

#center-div p {
    padding-left: 10px;
    
}

#center-div h3 {
    padding-left: 10px;
    font-family:Lato, sans-serif; 
}

#left-list li {
    list-style-type: none;  /* remove default bullet points */
    font-family:Lato, sans-serif; 
    font-size: 120%;
    padding-bottom: 10px;
    }

#right-list li {
    list-style-type: none;  /* remove default bullet points */
    font-family:Lato, sans-serif; 
    font-size: 120%;
    padding-bottom: 10px;
}

#map img {
    width: 100%;
    margin-bottom: 1px;
        
}


/*style booking form page */

#my-booking div {
    
    height: 500px;
    margin-bottom: 25px;
    float: left;    
    }

#left-div {    
    background-color:navy;    
    position: relative; 
    width:33%;     
}
#left-div img{
    border-radius: 50%;  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#booking-form {
    background: url("/assets/images/site.jpg");
    background-size: cover; 
    position: relative; 
    vertical-align: top;  
    width:33%;    
}
#right-div {    
    background-color:navy;   
    position: relative;
    width: 33%;
           
}
#right-div img{
    border-radius: 50%;  
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}


form h2 {
    font-family: lato, sans-serif;
    font-size: 150%;
    padding-left: 10px;
    
}

form label {
    padding-left: 10px;    
    margin-bottom: 10px;
    font-family:lato, sans-serif;
}

form input {
    width: 100px;
    margin-left: 10px;
    padding-left: 100px;
    margin-bottom: 10px;
}
#submit {
    background-color: green;
    text-align: center;
    width: 75px;;
    padding-left: 10px;    
}

/*style explore page */

.be-active div {
    max-width: 80%;
    height: 200px;
    border: 1px solid black;
    display: block;
    margin: 20px auto;
}
.be-active h3 {
    text-align: center ;
}

.be-active img {
    float: left;
    clear: both;
    padding-right: 5px;
}

.be-active p {
    font-family: lato, sans-serif;
}
/* Style the footer */


#call-to-action {
    height: 150px;
    background-color: darkslategrey;
    font-family: lato, sans-serif;   
    width:100%;  
    overflow: hidden;   
    display: flex;
    }

#link-me {
    width: 33%;   
    text-decoration: none;
    list-style-type: none;      
    float: left; 
}

#link-me li {
    display: inline;
    font-size: 200%;
    text-align: center;    
    height: 100%;
}

#footer-mid {
    width: 33%;
    float: left;
}
#footer-mid h2 {
    text-align: center;
}

#footer-right {
    width: 33%;
    float: left;
    text-align: center;
    
}

#footer-right a {
    font-family: lato, sans-serif;
    font-size: 120%;
    text-decoration: none;
    color: black;    
}

/* make icon yellow once followed */
#footer-right a:visited {
    color: yellow;
}

#social-media-links a:visited {
    color:yellow;
}

/* mobile phones */
@media only screen and (max-width: 768px) {

}

/* for tablet */
@media only screen and (max-width: 992px) {
    .site-info{
        flex-direction: column;
    }

    .site-info-card {
        width: 90% !important;
        margin: 20px auto;
    }
    #call-to-action {
        
        width:100%;  
                flex-direction: column;
        }
        
    }
    header {
        flex-direction: column;
        margin-bottom: 5px;             
    }
    #banner {
        width:100%;
        background-color: blueviolet;
    }
    #page-nav {
        width: 100%;  
        background-color: green ;      
    }

    #banner h1{
        font-size: 1.2em;
        text-align: center;
    }
    #header-nav li a {        
        font-size: 0.7em;    
        display: inline;   
        text-align: center;                
    }
    .be-active div {        
        height:auto;
        border: 1px solid black;
        display: block;
        margin: 20px auto;
        overflow: scroll;
    }
    
}




    









