/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald&display=swap');

/* Style the header */
header h1 {
    font-family: Lato, sans-serif;
    color: rgba(0,0,0,1);  /* black text */ 
    font-size: 250%;         /* header stand out */
    float: left;
    margin: 30px; 
    padding: right 60px;
}

/* Style the nav options - to the right of the banner on same level */
#header-nav li {
    float: right;     /* nav options to the right */
    margin-right: 40px;  /* space between options */
    font-family:Lato, sans-serif;  /* consistent with banner */
    list-style-type: none;         /* remove default bullet points */
       }

#header-nav li a {
    color:black;
    font-size: 150%;
    text-decoration: none;          /* remove default underline */
}

/* Highlight menu selection */
#header-nav li a:hover {
    background-color: black;
    color: white;
}

/* underline - highligh activie page */
.active-page{
    border-bottom: 1px solid rgba(0,0,0,1);
}

/*style main image landing page */
#park-view img{
    height: 500px;
    width: 100%;
    /*display: block;*/
}


