/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald&display=swap');

/* Style the header */
header h1 {
    font-family: Lato, sans-serif;
    color: rgba(0,0,0,1);  /* black text */ 
    font-size: 250%;         /* header stand out */
    float: left;
    margin: 30px; 
    padding: right 60px;
}

/* Style the nav options - to the right of the banner on same level */
#header-nav li {
    float: right;     /* nav options to the right */
    margin-right: 40px;  /* space between options */
    font-family:Lato, sans-serif;  /* consistent with banner */
    list-style-type: none;         /* remove default bullet points */
       }

#header-nav li a {
    color:black;
    font-size: 150%;
    text-decoration: none;          /* remove default underline */
}

/* Highlight menu selection */
#header-nav li a:hover {
    background-color: black;
    color: white;
}

/* underline - highligh activie page */
.active-page{
    border-bottom: 1px solid rgba(0,0,0,1);
}

/*style main image landing page */
#park-view img{
    height: 500px;
    width: 100%;
    /*display: block;*/
}

/* style links on index.html */
#main-links a {
    width: 100%;
    color:black;
    font-size: 120%;
    text-decoration: none;  
    font-family:Lato, sans-serif; 
    margin-left: 40px;
    }

#main-links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;           
}

#main-links a:hover {
    color: white;
    background-color: black;
}

.site-info{
    font-family:Lato, sans-serif; 
    display: inline;
    
}

/*position the amenity rate and code column, researched stack overflow site */

#left-div {
  display: inline-block;
  height: 100%;
  width: 33%;  /* using 33% pushed evrything down */ 
  background-color: orange;
  text-align: center;
}
#right-div {
  display: inline-block;
  height: 100%;
  width: 33%;
  background-color: green;
  text-align: center;
}

#center-div {
  display: inline-block;
  height: 100%;
  width: 33%;
  background-color: yellow;  
  text-align: center;  
}






